.profile {
  border: 1px solid grey;
  border-radius: 7px;
  overflow: hidden;
}

.description {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(197, 197, 197);
}

.avatar {
  border-radius: 50%;
}

.name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

.tag {
  margin-bottom: 10px;
  font-size: 22px;
  color: rgb(128, 127, 127);
}

.location {
  font-size: 22px;
  color: rgb(128, 127, 127);
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: rgb(243, 243, 243);
}

.statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(128, 127, 127);
}

.quantity {
  font-weight: 700;
}
